In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import os
from pathlib import Path

import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("whitegrid")
sns.set_context("notebook")

plt.rcParams["figure.figsize"] = 12, 5
plt.rcParams["font.family"] = "monospace"

In [4]:
path_root_dir = Path(os.getcwd()).parent
os.chdir(path_root_dir)

In [5]:
path_data = f"{path_root_dir}/data/"

In [18]:
df = pd.read_csv(f"{path_data}/UNmin.csv", index_col=[0, 1])

In [19]:
df

                     lifeMale  lifeFemale  infantMortality  GDPperCapita
country     region
Afghanistan Asia         45.0        46.0              154          2848
Albania     Europe       68.0        74.0               32           863
Algeria     Africa       67.5        70.3               44          1531
Angola      Africa       44.9        48.1              124           355
Argentina   America      69.6        76.8               22          8055
...                       ...         ...              ...           ...
Viet.Nam    Asia         64.9        69.6               37           270
Yemen       Asia         57.4        58.4               80           732
Yugoslavia  Europe       69.8        75.3               19          1487
Zambia      Africa       42.2        43.7              103           382
Zimbabwe    Africa       47.6        49.4               68           786

[188 rows x 4 columns]

# Cluster the data using different algorithms